.ml-4{
    margin-left: 16px !important;
}
.round-profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.active-sub-menu{
    color: #1d72f2 !important;
}
.dt-length label {
    margin-left: 10px
}
.rounded-circle{
    object-fit: cover;
}
.mt-2-rem{
    margin-top: 2rem !important;
}
.modal-body img{
    width: 100% !important;
    height: auto;
}
img.modal-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.avatar-preview-vacancies{
    width: 138px !important;
    height: 138px !important;
    position: relative;
}
.avatar-upload .avatar-preview-vacancies > div {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
  .text-red {
    color: red !important;
  }
  .text-gray{
    color: gray !important;;
  }
  .job-image{
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 50%;
  }