.ml-4{
    margin-left: 16px !important;
}
.round-profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.active-sub-menu{
    color: #1d72f2 !important;
}
.dt-length label {
    margin-left: 10px
}
.rounded-circle{
    object-fit: cover;
}